html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --main-text-color: #757575;
  --title-color: #ffffff;
  --accent-color: #2196f3;
  --alt-text-color: #212121;
  --background-color: #e5e5e5;
  --dark: #2f303a;
  --second: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.page-header__logo {
  margin-right: 93px;
}

.page-header__logo--blu {
  color: var(--accent-color);
}

.page-header__logo--black {
  color: var(--alt-text-color);
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--title-color);
}

.page-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
  overflow: hidden;
  background-color: var(--title-color);
  border-bottom: 1px solid #ececec;
}

.head {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--alt-text-color);
}

.head .link .menu__item--current {
  color: var(--accent-color);
}

.menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu__item {
  position: relative;
}

.head .menu__item--current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.menu__item:hover::after, .menu__item:focus::after {
  opacity: 1;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.indent {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts--indent {
  margin-left: auto;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contacts__item:not(:first-child) {
  margin-left: 50px;
}

body {
  margin: 0;
  padding-top: 80px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.list__item:not(:last-child) {
  margin-right: 30px;
}

.hero-fone__btn {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 136px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--accent-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.row__button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-indent {
  margin-bottom: 50px;
}

.row__item:not(:last-child) {
  margin-right: 8px;
}

.hero-fone__btn:hover, .hero-fone__btn:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
}

.row__button:hover, .row__button:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.contact__svg--tel {
  width: 10px;
  height: 16px;
  stroke: currentColor;
  margin-right: 10px;
}

.contact__svg--mail {
  width: 16px;
  height: 12px;
  stroke: currentColor;
  margin-right: 10px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address {
  /* margin-top: 20px; */
  font-style: var(--main-font);
  color: var(--title-color);
  text-decoration: none;
}

.hero-fone__title {
  margin-top: 0;
  margin-bottom: 0px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.comand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--main-font) o;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.advantage__text {
  padding-bottom: 10px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alt-text-color);
}

.visually {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}

.visually__indent {
  margin-top: 0;
  margin-bottom: 50px;
}

.images .text__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.text__images {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
}

.text__indent {
  margin-bottom: 0;
}

.visually-footer {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.visually-footer__indent {
  margin-top: 0;
  margin-bottom: 20px;
}

.dark-fone .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.social-icons-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dark-fone__social {
  margin-left: 70px;
}

.social-icons-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-footer__link:hover, .social-icons-footer__link:focus {
  background-color: var(--accent-color);
}

.social-icons-footer__link:hover .social-icons-footer__svg, .social-icons-footer__link:focus .social-icons-footer__svg {
  fill: var(--title-color);
}

.social-icons-footer__svg {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
}

.team-page {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--second);
}

.team {
  padding-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--alt-text-color);
}

.team__position {
  padding-bottom: 16px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.workers__card:hover .overlay__site, .workers__card:focus .overlay__site {
  opacity: 1;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.workers__card:hover .overlay__site {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.overlay__text {
  display: block;
  width: 322px;
  height: 168px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--title-color);
}

.hero-fone {
  padding-top: 200px;
  padding-bottom: 200px;
  color: var(--title-color);
  background-color: var(--dark);
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-fone__indent {
  margin-left: auto;
  margin-right: auto;
}

.dark-list {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 30px;
}

.advantages__icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--second);
  margin-bottom: 30px;
}

.advantages__svg {
  width: 70px;
  height: 70px;
  fill: #AFB1B8;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images__item:not(:last-child) {
  margin-right: 30px;
}

.images__item {
  position: relative;
}

.comand__item:not(:last-child) {
  margin-right: 30px;
}

.shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--title-color);
}

.social-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--title-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__link:hover .social-icons__svg, .social-icons-link:focus .social-icons-svg {
  fill: var(--title-color);
}

.social-icons__svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.photo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.clients-icons__item:not(:last-child) {
  margin-right: 30px;
}

.clients-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icons__link:hover, .clients-icons__link:focus {
  border-color: var(--accent-color);
}

.clients-icons__link:hover .clients-icons__svg, .clients-icons-link:focus .clients-icons-svg {
  fill: var(--accent-color);
}

.clients-icons__svg {
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-fone {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--title-color);
  background-color: var(--dark);
}

.color {
  background-color: var(--title-colors);
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.workers__indent {
  margin-right: -30px;
  margin-bottom: -30px;
}

.workers__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.workers__card {
  display: block;
  position: relative;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.workers__card:hover, .workers__card:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.dark-fone__logo {
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 20px;
}

.dark-list__indent {
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 9px;
  margin-top: 20px;
}

.dark-list__indent--cont-clr {
  color: rgba(255, 255, 255, 0.6);
}

.description {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.description__page {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--alt-text-color);
}

.description__site {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal__text {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}

.modal__form {
  width: 448px;
  margin-left: 40px;
  margin-right: 40px;
}

.modal__form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal__form-field input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.modal__form-field label {
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.heading {
  margin: 40px 40px 12px 40px;
  width: 448px;
  height: 23px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}

.modal__form-field textarea {
  padding-left: 12px;
  margin-bottom: 25px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  resize: none;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
}

textarea::-webkit-input-placeholder {
  margin-left: 16px;
  margin-top: 12px;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  margin-left: 16px;
  margin-top: 12px;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  margin-left: 16px;
  margin-top: 12px;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  margin-left: 16px;
  margin-top: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox-label {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal__checkbox-label::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--alt-text-color);
  border-radius: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal--checkbox-cheked:checked + .modal__checkbox-label::before {
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal--checkbox-cheked:focus + .modal__checkbox-label::before {
  border-color: var(--accent-color);
}

.modal__input {
  padding-left: 42px;
  outline: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus ~ .modal__icon {
  fill: var(--accent-color);
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: inline-block;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  fill: var(--alt-text-color);
}

.modal__submit {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 56px;
  padding-bottom: 10px;
  padding-right: 55px;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.dark-fone__form {
  margin-left: 93px;
}

.dark-fone__submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  min-width: 200px;
  min-height: 50px;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--title-color);
  border-radius: 4px;
  text-align: center;
  border-color: transparent;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.dark-fone__submit-icon {
  margin-left: 12px;
}

.dark-fone__input {
  color: var(--title-color);
  padding-left: 16px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.dark-fone__input::-webkit-input-placeholder {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 47px;
  height: 20px;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.dark-fone__input:-ms-input-placeholder {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 47px;
  height: 20px;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.dark-fone__input::-ms-input-placeholder {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 47px;
  height: 20px;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.dark-fone__input::placeholder {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 47px;
  height: 20px;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

h1 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */