html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --main-text-color: #757575;
  --title-color: #ffffff;
  --accent-color: #2196f3;
  --alt-text-color: #212121;
  --background-color: #e5e5e5;
  --dark: #2f303a;
  --second: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-mgn {
  margin-right: 93px;
}

.web {
  color: var(--accent-color);
}

.studio {
  color: var(--alt-text-color);
}

body {
  margin: 0;
  padding-top: 80px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.page-header .container {
  display: flex;
  background-color: var(--title-color);
}

.page-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
  overflow: hidden;
  background-color: var(--title-color);
}

.header-borders {
  border-bottom: 1px solid #ececec;
}

.head {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--alt-text-color);
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list {
  display: flex;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.list-item:not(:last-child) {
  margin-right: 30px;
}

.head .link.current {
  color: var(--accent-color);
}

.menu {
  display: inline-flex;
}

.menu-item {
  position: relative;
}

.head .current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.menu-item:hover::after, .menu-item:focus::after {
  opacity: 1;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.indent {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contacts-item:not(:first-child) {
  margin-left: 50px;
}

.btn {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 136px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--title-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background-color: var(--title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-text {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
}

.button:hover, .button:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.contact-svg {
  width: 10px;
  height: 16px;
  stroke: currentColor;
  margin-right: 10px;
}

.contact-item-svg {
  width: 16px;
  height: 12px;
  stroke: currentColor;
  margin-right: 10px;
}

.contact-icon-link {
  display: flex;
  align-items: center;
}

.address {
  margin-top: 20px;
  font-style: var(--main-font);
  color: var(--title-color);
  text-decoration: none;
}

.page-title {
  margin-top: 0;
  margin-bottom: 0px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.comand {
  display: flex;
  font-family: var(--main-font) o;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.label-text {
  padding-bottom: 10px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alt-text-color);
}

.visually {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}

.images .images-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.images-text {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 0;
}

.visually-footer {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.dark-fone .container {
  display: flex;
  align-items: baseline;
}

.social-icons-footer {
  display: inline-flex;
}

.social-footer {
  margin-left: 70px;
}

.social-icons-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link-footer:hover, .social-icons-link-footer:focus {
  background-color: var(--accent-color);
}

.social-icons-link-footer:hover .social-icons-svg, .social-icons-link-footer:focus .social-icons-svg {
  fill: var(--title-color);
}

.social-icons-svg-footer {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
}

.team-page {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--second);
}

.team {
  padding-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--alt-text-color);
}

.team-item-position {
  padding-bottom: 16px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.page {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--alt-text-color);
}

.site {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.card:hover .overlay-site, .card:focus .overlay-site {
  opacity: 1;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-site {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .overlay-site {
  transform: translateY(0%);
}

.overlay-text {
  display: block;
  width: 322px;
  height: 168px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--title-color);
}

.hero-fone {
  padding-top: 200px;
  padding-bottom: 200px;
  color: var(--title-color);
  background-color: var(--dark);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dark-list {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 30px;
}

.advantages-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--second);
}

.advantages-icons {
  margin-bottom: 30px;
}

.advantages-icons-svg {
  width: 70px;
  height: 70px;
  fill: #AFB1B8;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.images {
  display: flex;
}

.images-item:not(:last-child) {
  margin-right: 30px;
}

.images-item {
  position: relative;
}

.comand-item:not(:last-child) {
  margin-right: 30px;
}

.shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--title-color);
}

.social-icons {
  display: inline-flex;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--title-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover, .social-icons-link:focus {
  background-color: var(--accent-color);
}

.social-icons-link:hover .social-icons-svg, .social-icons-link:focus .social-icons-svg {
  fill: var(--title-color);
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.photo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-icons {
  display: inline-flex;
}

.clients-icons-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icons-link:hover, .clients-icons-link:focus {
  border-color: var(--accent-color);
}

.clients-icons-link:hover .clients-icons-svg, .clients-icons-link:focus .clients-icons-svg {
  fill: var(--accent-color);
}

.clients-icons-svg {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-fone {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--title-color);
  background-color: var(--dark);
}

.cont-clr {
  color: rgba(255, 255, 255, 0.6);
}

.row {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.color {
  background-color: var(--title-colors);
}

.row-button:not(:last-child) {
  margin-right: 8px;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.workers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.work-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.card {
  display: block;
  position: relative;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover, .card:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.dark-logo {
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 20px;
}

.indent-footer {
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 9px;
}

.description {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.modal-text {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}

.form {
  width: 448px;
  margin-left: 40px;
  margin-right: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-field label {
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.heading {
  margin: 40px 40px 12px 40px;
  width: 448px;
  height: 23px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}

.form-field textarea {
  padding-left: 12px;
  margin-bottom: 25px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  resize: none;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
}

textarea::placeholder {
  margin-left: 16px;
  margin-top: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--alt-text-color);
  border-radius: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-cheked:checked + .checkbox-label::before {
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-cheked:focus + .checkbox-label::before {
  border-color:var(--accent-color)}

.form-input {
  padding-left: 42px;
  outline: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .icon {
  fill: var(--accent-color);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: inline-block;
  transform: translateY(25%);
  fill: var(--alt-text-color);
}



.submit-modal {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 56px;
  padding-bottom: 10px;
  padding-right: 55px;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.form-footer-line {
  margin-left: 93px;
}

.footer-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  min-width: 200px;
  min-height: 50px;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--title-color);
  border-radius: 4px;
  text-align: center;
  border-color: transparent;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-submit-icon {
  margin-left: 12px;
}

.footer-input {
  color: var(--title-color);
  padding-left: 16px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input::placeholder {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 47px;
  height: 20px;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

h1 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;